{% extends "base.html" %}
{% block content%}
{% include 'nav2.html' %}
<h1> Order details </h1>
<div class="thumbnail">
   <div class="caption ">
      <p class='lead'> Order Id: {{order.order_id}}</p>
      <p class='lead'> Name: {{order.name}}</p>
      <p class='lead'> Confirmed: {{order.confirmed}}</p>
      <p class='lead'> Email: {{order.email}}</p>
      <p class='lead'> Number: {{order.number}}</p>
      <p class='lead'> Total price: {{order.total_price}}</p>
      <p class='lead'> Fulfillment status: {{order.fulfillment_status}}</p>
      <p class='lead'> Phone: {{order.phone}}</p>
      <p class='lead'> Variant Id: {{order.variant_id}}</p>
      {% if  order.order_status_url %}
      <p class='lead'> Order status url: <a href={{order.order_status_url}}>
         {{order.order_status_url |truncatechars:50 }} </a>
      </p>
      {% endif %}
      <p class='lead'> Cancelled at: {{order.cancelled_at}}</p>
      <p class='lead'> Created at: {{order.created_at}}</p>
   </div>
</div>
{% endblock %}
