{% extends 'base.html' %}
{% block content%}
{% include "nav2.html" %}
<p class='lead'>Understanding what store management is, is easy. It’s the practice of managing and controlling everything around and within your store - nothing more, nothing less. That said, dig a little deeper and you’ll soon realise that, while it’s easy to understand, having competent control over all the moving parts that make up your store is a complex task.
   You only need to consider the multitude of roles and responsibilities of your average store manager to see that. They include looking after the wellbeing of your staff and motivating them to meet their sales targets; overseeing the ordering and receiving of goods if buying is not centralised and dealing with any necessary price changes. They also need to understand customer service and how to handle customers queries and returns. And that’s just the beginning.
   Just a note on the centralised versus decentralised buying argument before we continue. Centralised buying is far more efficient than decentralised buying. That’s because by centralising your buying - having one central control point for all buying decisions instead of allowing individual stores to make decisions on their own - you can guard against range bloat. More importantly, you’ll guard against rising inventory costs.
   Store managers also have sales goals they must reach to ensure your store is profitable. They need to consider how to present in-store advertising and how to implement different strategies for each of the categories they stock. They must be able to read a planogram. More than that, they’re responsible for the safety of customers and employees while on store premises.
</p>
<div class= 'col-xs-3'>
   <!-- <p class='lead'>Build For Everyone</p> -->
   <h2>
      <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
   </h2>
   <span class="sr-only">Loading...</span>
</div>
<div class= 'col-xs-3'>
   <!-- <p class='lead'>Source Code at Github</p> -->
   <h2><i class="fa fa-5x fa-github" aria-hidden="true"></i> </h2>
</div>
{% endblock%}
